.navbar {
display: flex;
justify-content: space-around;
align-items: center;
}
.logo{
    order: 1;
}
.links{
    text-align: center;
    order: 2;
}
.links ul {
    list-style: none;
display: flex;
justify-content: center;
}
.links ul li{
    margin: 0 10px;
}
.right{
    display: flex;
    align-items: center;
    padding: 15px;
    order: 4;
}
.profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: 3;
    }
    .profile img{
        margin-right: 10px;
        width: 30px;
        border-radius: 50%;
    }
    .cart{
        margin-right: 200px;
        order: 4;
    }
.product {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
    display: flex;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 80px;
  }

  .card1 {
    background-color: rgb(244, 248, 251);
    padding: 20px;
    width: 300px;
    margin-left: 100px;
    margin-right: 50px;
  }
  img{
    border-radius: 5px;
    
  }

  .img1 {
    max-width: 100%;
    height: auto;
  }

  .card2 {
    display: flex;
    flex-direction: row; 
    margin-top: 20px;
  }

  .square-cards {
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-right: 10px; /* Add space between square cards */
    margin-bottom: 10px;
  }

  .img2 {
    max-width: 100%;
    height: auto;
  }

.main {
    max-width: 100%;
    height: auto;
}
.product-details {
    flex: 1;
}

.price-sticker {
    display: flex;
    align-items: center; /* Vertically center elements within the flex container */
}

.price {
    color: #333;
}

.sticker {
    background-color: rgb(238, 201, 153); /* Red background for the sticker */
    color: rgb(255, 123, 0);
    padding: 5px 5px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px; 
    font-size: 12px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding: 15px;

}
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: #d6d6d6;
    width: 100px;
    border-radius: 2px;
    padding: 5px;
}

.quantity-button {
    background-color:#d6d6d6;
    color: rgb(43, 43, 43);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.quantity-value {
    font-size: 1.2rem;
    margin: 0 10px;

}
.product-details> h6{
    font-size: 16px;
    color: rgb(252, 168, 12);
}
.add1 {
    display: flex;
    align-items: center;
    background-color: #ffa601;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px; 
    border-radius: 10px;
}

.add1 img {
    margin-left: 10px;
    color: white;
    margin-right: 10px;
    width: 20px;
    

}

